.container{
    padding: 9.6rem 8rem;
    text-align: center;
}
.container__titulo{
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--cor-primaria);
}
.container__subtitulo{
    font-size: 3.6rem;
    font-weight: 600;
    color: var(--cor-secundaria);
}
.container__texto{
    font-size: 2rem;
    color: var(--cor-terciaria);
}

.principal .container__titulo{
    font-size: 1.6rem;
    font-weight: 600;
}
.principal .container__subtitulo{
    font-size: 4.8rem;
    padding: 2.4rem 0 3.6rem 0;
    letter-spacing: -0.96px;
}
.principal .container__texto{
    max-width: 791px;
    margin: 0 auto;
}
.metricas{
    display: flex;
    justify-content: space-evenly;
    gap: 3.2rem;
    padding-top:0;
}
.metricas__item{
    text-align: left;
    max-width: 280px;
}
.metricas__item .container__titulo{
    font-size: 6rem;
    font-weight: 600;
    letter-spacing: -1.2px;
}
.metricas__item .container__subtitulo{
    font-size: 1.8rem;
    font-weight: 500;
    padding: 1.2rem 0 0.8rem 0;
}
.metricas__item .container__texto{
    font-size: 1.6rem;
}